.rside {
    /* padding-left: 160px; */
    box-sizing: border-box;
} 
#search {
    padding-top: 90px;
}
.search {
    padding-left: 181px;
    margin-top: 39px; 
}
.search input {
    width: 640px;
    height: 39px;
    border: 2px solid #eee;   
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 10px;
    vertical-align: middle;
    font-size: 16px;
} 
/* 去掉文本框聚焦时的边框 */
input:focus, button:focus {
    outline: none;  
}
input[type="radio"] {
    cursor: pointer;
}
.search span {
    background-color: #fff;
    color: #555;
    font-size: 16px;
    padding: 10px 14px;
    border: 2px solid #eee;  
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: none; 
    vertical-align: middle;
} 
.all {
    font-size: 13px;
    margin: 10px 0;
    padding-left: 191px;
}
.select {
    padding-left: 181px;
}
.rside .ul {
    width: 1000px;
    height: auto;
    margin-top: 39px;
    margin-left: 132px;
    padding-left: 50px;
    box-sizing: border-box; 
}
.none {
    margin-top: 122px;
    font-size: 33px;
    padding-left: 340px;
}
.arrow {
    width: 35px;
    height: 35px;
    line-height: 31px;
    position: fixed;
    z-index: 10;
    cursor: pointer;
    right: 91px;
    bottom: 80px;
    font-size: 24px;
    background-color: #ccc;
    text-align: center;
    border-radius: 18px;
}
.arrow a {
    color: #fff;    
    width: 100%;
    height: 100%;
    display: inline-block;
}